@using PagedList
@using PagedList.Mvc
@model PagedList<Blog.Core.Domain.Post>

<div>
    <p>
        <a href="@Url.RouteUrl("Login")">Click here</a> to login.
    </p>
</div>

@if (Model != null)
{
    foreach (var post in Model)
    {
        <article>
            <h1><a href="@Url.RouteUrl("Post", new { post.Id, post.Slug })">@post.Title</a></h1>
            <div>
                @Html.Raw(post.Content)
            </div>
            <footer>
                <ul class="pull-right list-unstyled glyphicon-tags">
                    @foreach (var tag in post.Tags)
                    {
                        <li>
                            <a class="badge" href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})">@tag.Name</a>
                        </li>
                    }
                </ul>
                Posted: @(post.CreatedAt)
            </footer>
        </article>
    }
}

<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>