@model Blog.Areas.Admin.ViewModels.UserList

<h1>Users</h1>

<div class="btn-toolbar">
    <a href="@Url.Action("New")" class="btn btn-style"><i class="glyphicon glyphicon-plus"></i> Create User</a>
</div>
<br />
<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
            {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles.Select(role => role.Name))</td>
                <td>
                    <div class="btn-toolbar">
                        <a href="@Url.Action("Edit", new { user.Id })" class="btn btn-xs btn-style">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>
                        <a href="@Url.Action("ResetPassword", new { user.Id })" class="btn btn-xs btn-style">
                            <i class="glyphicon glyphicon-lock"></i>
                            Reset Password
                        </a>
                        <a href="@Url.Action("Delete", new { user.Id })" class="btn btn-xs btn-style" data-id="@user.Id" data-title="@string.Format("{0} {1}", "Delete User:", @user.Username)">
                            <i class="glyphicon glyphicon-remove"></i>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="dialog"></div>