@model Blog.Areas.Admin.ViewModels.ResetUserPassword

<h1>Reset Password for user: @Model.Username</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
    </div>

    <div class="btn-toolbar">
        <input type="submit" value="Reset Password" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
    </div>
}