@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Blog</title>

    @Styles.Render("~/Styles")
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("Home")">Blog</a>
        </h1>

        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("Logout")">Blog</a>

            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index", "Posts", new { area = "admin" })">View posts in Admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("Login")">Blog</a>
        }
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        &copy; @DateTime.UtcNow.Year
    </footer>

    @Scripts.Render("~/Scripts")
    @RenderSection("Scripts", false)
</body>
</html>
