@using PagedList.Mvc
@using Blog.Infrastructure
@model Blog.ViewModels.PostsIndexViewModel

@Html.TagPosts(Model.Tag)
@if (Model != null)
{
    foreach (var post in Model.Posts)
    {
        <article>
            <h3>@post.Title</h3>
            <ul class="list-inline">
                <li>
                    <i class="glyphicon glyphicon-time"></i>
                    @(post.CreatedAt)
                </li>
                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    @(post.User.Username)
                </li>
                <li>
                    <i class="glyphicon glyphicon-comment"></i>
                    No Comments
                </li>
            </ul>
            <div>
                @Html.Raw(post.Content)
            </div>
            <footer>
                @*<a href="@Url.RouteUrl("Post", new { post.Id, post.Slug })" class="post-read-more">Read More...</a>*@
                @Ajax.ActionLink("Read More...", "Post", "Posts", new { post.Id, post.Slug }, new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "post-content",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "post-read-more" })
                <div class="post-tag">
                    <ul class="pull-right list-inline post-tag-list">
                        @foreach (var tag in post.Tags)
                        {
                            <li class="tag-link">
                                @Ajax.ActionLink(tag.Name, "TagPosts", "Posts", new { tag.Id, tag.Slug }, new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "post-content",
                                    InsertionMode = InsertionMode.Replace
                                })
                                <span class="post-tag-count">@tag.Posts.Count</span>
                            </li>
                        }
                    </ul>
                </div>
            </footer>
        </article>
        <hr />
    }
}

<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(Model.Posts, page => Url.Action("Index", new { page, pageSize = Model.Posts.PageSize }))
    </div>
</div>