@using PagedList
@using PagedList.Mvc
@model Blog.ViewModels.BlogPostViewModel.PostsViewModel

@if (Model.Tag != null)
            {
    <div class="panel panel-warning">
        <div class="panel-heading">
            Showing posts tagged with <b>@Model.Tag.Name</b>.
            <a href="@Url.RouteUrl("Home")" class="pull-right">Show all</a>
        </div>
    </div>
}
@if (Model != null)
{
    foreach (var post in Model.Posts)
    {
        <article>
            <h3>@post.Title</h3>
            <ul class="list-inline">
                <li>
                    <i class="glyphicon glyphicon-time"></i>
                    @(post.CreatedAt)
                </li>
                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    @(post.User.Username)
                </li>
                <li>
                    <i class="glyphicon glyphicon-comment"></i>
                    No Comments
                </li>
            </ul>
            <div>
                @Html.Raw(post.Content)
            </div>
            <footer>
                <a href="@Url.RouteUrl("Post", new { post.Id, post.Slug })" class="post-read-more">Read More...</a>
                <div class="post-tag">
                    <ul class="pull-right list-inline post-tag-list">
                        @foreach (var tag in post.Tags)
                        {
                            <li class="tag-link">
                                @Ajax.ActionLink(tag.Name, "Tag", "Posts", new { tag.Id, tag.Slug }, new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "post-content",
                                    InsertionMode = InsertionMode.Replace
                                })
                                <span class="post-tag-count">@tag.Posts.Count</span>
                            </li>
                        }
                    </ul>
                </div>
            </footer>
        </article>
        <hr />
    }
}

<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(Model.Posts, page => Url.Action("Index", new { page, pageSize = Model.Posts.PageSize }))
    </div>
</div>