@using PagedList
@using PagedList.Mvc
@model PagedList<Blog.Core.Domain.Post>

@if (Model != null)
{
    foreach (var post in Model)
    {
        <article>
            <h3>@post.Title</h3>
            <ul class="list-inline">
                <li>
                    <i class="glyphicon glyphicon-time"></i>
                    @(post.CreatedAt)
                </li>
                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    @(post.User.Username)
                </li>
                <li>
                    <i class="glyphicon glyphicon-comment"></i>
                    No Comments
                </li>
            </ul>
            <div>
                @Html.Raw(post.Content)
            </div>
            <footer>
                <a href="@Url.RouteUrl("Post", new { post.Id, post.Slug })" class="post-read-more">Read More...</a>
                <div class="post-tag">
                    <ul class="pull-right list-inline post-tag-list">
                        @foreach (var tag in post.Tags)
                        {
                            <li class="tag-link">
                                <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})">@tag.Name</a>
                                <span class="post-tag-count">@tag.Posts.Count</span>
                            </li>
                        }
                    </ul>
                </div>
            </footer>
        </article>
        <hr />
    }
}

<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>