@using System.Web.Optimization

@{
    Layout = null;
}

@helper SelectedClass(string name)
{
if (name == ViewBag.Selected)
{
        @: active
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog - Admin</title>

    @Styles.Render("~/Admin/Styles")
</head>
<body>
    <div class="container centerbody">
        <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="#">Blog</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="nav nav-pills">
            <li class="@SelectedClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new { area = "admin" }, null)
            </li>
            <li class="@SelectedClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, null)
            </li>
        </ul>

        @RenderBody()
    </div>

    @Scripts.Render("~/Admin/Scripts")
    @RenderSection("Scripts", false)

    <form class="hidden" id="anti-forgery-form">
        @Html.AntiForgeryToken()
    </form>
</body>
</html>
