@using PagedList
@using PagedList.Mvc
@model PagedList<Blog.Core.Domain.Post>

<h1>Posts</h1>

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("new")" class="defaultButton"><i class="glyphicon glyphicon-plus"></i> Create Post</a>
    </div>
</div>
<br />
<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tags</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            var cls = "";

            if (post.IsDeleted)
            {
                cls = "danger";
            }

            <tr class="@cls">
                <td>@post.Title</td>
                <td>@post.User.Username</td>
                <td>@string.Join(", ", post.Tags.Select(t => t.Name))</td>
                <td>@post.CreatedAt</td>
                <td>
                    <a href="@Url.Action("edit", new { post.Id })" class="btn btn-xs btn-primary">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>

                    @if (!post.IsDeleted)
                    {
                        <div class="btn-group btn-group-xs">
                            <a href="@Url.Action("trash", new { post.Id })" class="btn btn-danger" data-post="Are you sure you want to send this post to trash?">
                                <i class="glyphicon glyphicon-remove"></i> Trash
                            </a>
                            <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("delete", new { post.Id })" data-post="Are you sure you want PERMANENTLY delete this post?">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("restore", new { post.Id })" class="btn btn-xs btn-success" data-post="">
                            <i class="glyphicon glyphicon-plus-sign"></i> Restore
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-12">
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    </div>
</div>